*   {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
a {
    color: #097462;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 32px;
}
body {
    font-family: 'Didact Gothic';
    font-size: 16px;
    background-color: #e7f1f0;
}
main {
    padding-top: 200px;
}
.menu-list {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.container {
    width: 1200px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 6px;
}
#header {
    background-color: #ffffff;
    box-shadow: 0px 1px 8px 0px #3f8c8e;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

#header .container {
    display: flex;
    align-items: center;
}

#header nav {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#header .menu-list a {
    color: #8dcbc7;
    font-size: 16px;
    font-weight: bold;
}

#header .menu-list a:hover {
    color: #4af5f5;
}

.logo {
    float: left;
    display: flex;
}
.logo img {
    width: 100px;
}
.logo span {
    font-size: 50px;
    font-weight: bold;
    border-color: #8dcbc7;
    color: #8dcbc7;
    margin-left: 8px;
}

.btn {
    padding: 8px 25px;
    border-radius: 8px;
    border: 1px solid #7dc9c5;
    color: #94c4c2;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    border-color: #8dcbc7;
    color: #4af5f5;
}

.btn-auth {
    float: right;
    padding: 8px 25px;
    border-radius: 8px;
}
footer {
    background-color: #fcfcfc;
    margin-top: 40px;
    box-shadow: 0 1px 8px 0 #475468;
}

.first-footer-block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-menu {
    list-style: none;
}

footer .footer-menu a {
    color: #476865;
    font-size: 16px;
    font-weight: bold;
}

footer .footer-menu a:hover {
    color: #61728d;
}
.last-footer-block {
    background-color: #81b8b6;
    color: #ffffff;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

.last-footer-block span {
    cursor: default;
}

.last-footer-block ul {
    list-style: none;
    display: flex;
    float: right;
}

.last-footer-block ul li:first-child {
    margin-right: 15px;
}

.last-footer-block a:hover {
    color: #a5d0cd;
}
.head-block
{
    background-color: #a0dbd5;
    background-image: url("../img/banner.png");
    height: 570px;
    background-position: top 40% right;
    background-size: 48%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    box-shadow: 1px 10px 36px 8px #5f827b;
    margin-top: -103px
}
.head-block h1{
    padding-top: 35px;
}
.head-block p{
    color: #326d68;
    font-size: 30px;
    margin-top: 30px;

}
.head-block img{
    width: 409px;
    position: absolute;
    margin-left: -370px;
}
.catalog-page h2 {
    color: #8dcbc7;
}
.filter-block{
    float: left;
    width: 250px;
    height: 300px;
    border: 1px solid #a0dbd5;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 20px;
}
.catalog-content {
    display: flex;
    flex-direction: column;
}
.cards-block {

}
.card-item {
    border: 1px solid #a0dbd5;
    border-radius: 6px;
    padding: 20px 10px ;
    margin-top: 15px;

}
.card-item img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 6px;
    margin-right: 15px;
}
.card-item .card-text-items {
    display: flex;
    flex-direction: column;
}
.card-item .card-text-items .btn {
    opacity: 0.8;
    font-weight: normal;
    color: #a0dbd5;
    background-color: #2eb1b4;
    border: none;
    float: right;
}
.card-item .card-text-items p {
    color: #3f8c8e;
    font-size: 16px;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 30px;
}
.card-item .card-text-items h3 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 50px;
    color: #3cb1b3;
}
.filter-block #filter-text {
    margin-bottom: 10px;
    color: #3f8c8e;
}

.filter-block .filter-item {
    margin-bottom: 10px;
    color: #3f8c8e;
}

.filter-block .filter-group {
    margin-top: 5px;
}

.filter-block .filter-buttons {
    text-align: center;
}

.filter-block .filter-button {
    color: #ecebeb;
    background-color: #3cb1b3;
    opacity: 0.8;
    border-radius: 4px;
}

.filter-block .filter-button:hover {
    color: #ffffff;
    background-color: #3f8c8e;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

}

.checkbox label::before {
    content: '\00A0';
    color: #eae5e5;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #3cb1b3;
    border-radius: 4px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox input:checked+label::before {
    content: "\2717";
    border-color: #3cb1b3;
    background-color: #3cb1b3;
}

.checkbox {
    color: #22595a;
}
.radio-toggle {
    display: inline-block;
    overflow: hidden;
}

.radio-toggle .radio {
    float: left;
    display: inline-block;
}

.radio-toggle input[type=radio] {
    display: none;
}

.radio-toggle label {
    display: inline-block;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #3cb1b3;
    cursor: pointer;
    user-select: none;
}

.radio-toggle .radio:first-child label {
    border-right: none;
    border-radius: 8px 0 0 8px;
}

.radio-toggle .radio:last-child label {
    border-radius: 0 8px 8px 0;
}

.radio-toggle input[type=radio]:checked + label {
    background: #3cb1b3;
    color: #eae5e5;
}

.catalog-content {
    display: flex;
    flex-direction: column;
}